<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."
  >
  </ion-refresher-content>
</ion-refresher>

<ion-content scrollY="true">
  <ion-list *ngFor="let user of vehicleStatus; index as i">
    <ion-row
      class="ion-justify-content-between ion-padding-horizontal align-items-center"
    >
      <!-- Column for Index -->
      <ion-col size="1">
        <ion-label>{{ i + 1 }}</ion-label>
      </ion-col>

      <!-- Column for Vehicle Number with Image and nowrap -->
      <ion-col size="8" class="vehicle-number-column">
        <div class="vehicle-info">
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'jcb'"
            src="../../assets/icon/jcb.png"
            class="vehicle-icon"
          />
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'breaker'"
            src="../../assets/icon/jcb.png"
            class="vehicle-icon"
          />
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'bobcat'"
            src="../../assets/icon/jcb.png"
            class="vehicle-icon"
          />
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'roller'"
            src="../../assets/icon/road-roller.png"
            class="vehicle-icon"
          />
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'tipper'"
            src="../../assets/icon/tipper.png"
            class="vehicle-icon"
          />
          <ion-img
            *ngIf="user.vehiclename.toLowerCase() === 'tractor'"
            src="../../assets/icon/tractor.png"
            class="vehicle-icon"
          />
          <ion-label class="vehicle-number-label"
            >{{ user.vehicleno }}
          </ion-label>
        </div>
      </ion-col>

      <!-- Status Button, right-aligned -->
      <ion-col size="3" class="ion-text-end">
        <ion-button
          color="danger"
          *ngIf="user.vehiclestatus === 'busy'"
          (click)="onClickStatus(user, 'active')"
        >
          Busy
        </ion-button>
        <ion-button
          style="--background: #28a745; --color: #fff"
          *ngIf="user.vehiclestatus !== 'busy'"
          (click)="onClickStatus(user, 'busy')"
        >
          Available
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Horizontal line separator -->
    <hr class="vehicle-divider" />
  </ion-list>
</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar>
    <ion-title>PKA Earthmovers</ion-title>
  </ion-toolbar>
</ion-footer> -->

<ion-loading
  class="custom-loading"
  [isOpen]="isLoading"
  message="Vehicles are loading. After long inactivity it might take some time. Don't close the app!"
  [duration]="30000"
></ion-loading>
