
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."
  >
  </ion-refresher-content>
</ion-refresher>
<ion-content scrollY="true" >
    <ion-list *ngFor="let user of vehicleStatus; index as i">
      <ion-row>
        <ion-col>
          <ion-col> <ion-label [ariaColSpan]="2">{{ i+1 }} </ion-label></ion-col>
        </ion-col>
        <ion-col>
      <ion-label [ariaColSpan]="4">{{ user.vehicleno }} </ion-label>
  </ion-col>
        <ion-col>
      <ion-label [ariaColSpan]="4">{{ user.description }} </ion-label>
    </ion-col>
        <ion-col> <ion-button
          color="danger"
          *ngIf="user.vehiclestatus === 'busy'"
          (click) = "onClickStatus(user, 'active')"
          [ariaColSpan]="4"
          >Busy</ion-button
        >
        <ion-button
          color="secondary"
          *ngIf="user.vehiclestatus === 'active'"
          (click) = "onClickStatus(user, 'busy')"
          [ariaColSpan]="4"
          >Available</ion-button
        ></ion-col>
      </ion-row>
      <ion-toast
        [isOpen]="isToastOpen"
        [message]="message"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
      ></ion-toast>
    </ion-list>
  </ion-content>
  <ion-loading class="custom-loading"  [isOpen]="isLoading" message="Vehicles are loading. After long inactivity it might take some time. Don't close the app!"  [duration]="30000" ></ion-loading>
