<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-icon
      style="text-align: center"
      name="add-outline"
      (click)="showAddVehicle = true"
    ></ion-icon>
  </ion-col>
</ion-row>

<ion-row *ngIf="showAddVehicle===true">
  <ion-col>
    <!-- <ion-text [(ngModel)]="newUserName" aria-placeholder="name"></ion-text> -->

    <ion-item>
      <ion-input
        label="Vehicle Number"
        placeholder="TN 00 CA 0020"
        [(ngModel)]="newUserName"
      ></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <!-- <ion-text [(ngModel)]="description" aria-placeholder="name"></ion-text> -->
    <ion-item>
      <ion-input
        label="Descritpion"
        placeholder="Currently working at GreenFields"
        [(ngModel)]="description"
      ></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-button (click)="createUser()"> Save Vehicle </ion-button>
  </ion-col>
</ion-row>

<ion-content scrollY="true" >
  <ion-list *ngFor="let user of users()">
    <ion-label>{{ user.name }}</ion-label>
    <ion-label>{{ user.description }} </ion-label>
    <ion-button (click)="deleteUser(user)"> Delete </ion-button>
    <!-- <ion-button
      color="danger"
      *ngIf="!user.active"
      (click)="VehicleAvailable(user)"
      >Busy</ion-button
    >
    <ion-button
    
      color="secondary"
      *ngIf="user.active"
      (click)="VehicleNotAvailable(user)"
      >Available</ion-button
    > -->
  </ion-list>
</ion-content>
